.userinfo {
    display: flex;
    column-gap: 0.5em;
}

.name {
    font-weight: bold;
}

.email {
    font-style: italic;
    font-size: smaller;
}

.signOutLink {
    text-decoration: none;
    display: block;
}